<link rel="stylesheet" href="/css/allemployees.css">

<%- include('_adminnav'); -%>
    <div id="the-div">
        <div id="user-info">
            <h1>User Profile</h1>
            <div id="user">
                <div>
                    <p class="bold">Name:</p>
                    <p>
                        <%=locals.user.name%>
                    </p>
                </div>
                <div>
                    <p class="bold">Emp-Id:</p>
                    <p>
                        <%= locals.user.empid%>
                    </p>
                </div>
                <div>
                    <p class="bold">Email:</p>
                    <p>
                        <%= locals.user.email%>
                    </p>
                </div>
            </div>
        </div>
    <section>
        <h2>Employees</h2>
        <ol>
            <% for(user of users){%>
                <li class="employees-li"><a href="/admin/employeeProfile/<%- user.id%>">
                    <%- user.name%>
                </a></li>    
            <%}%>
        </ol>
    </section>
</div>
